<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="/static/todo.css">
</head>
<body>
    <div class="container">
        <h1 class="header-text">Edit task</h1>

        <form method='POST' action="/edit/{{ task_id }}">
            <input 
                type="text"
                name="content"
                value={{ task }}
                required
            >
            <button type="submit" class="input-btn">
                Update
            </button>
        </form>
        <a href="" class="back-btn">Back to Todo</a>
    </div>
</body>
</html>